{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-17867749550"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'AW-17867749550');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'styles/register.css' %}">
    <title>Title</title>
</head>
<body>
<div class="backward-index">
    <a href="{% url 'index' %}"><i class="fa-solid fa-arrow-left"></i> Назад</a>
</div>
<main>
    <div class="register-form-container">
        <h1>ВЛИЗАНЕ</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.username.label }}
            {{ form.username }}
            {{ form.username.errors }}
            {{ form.password.label }}
            {{ form.password }}
            {{ form.password.errors }}
            <input type="submit" value="Вход" class = 'register-btn'>
        </form>
        <a href="{% url 'register' %}">Нямаш акаунт?</a>
    </div>
</main>
</body>
</html>