{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'styles/register.css' %}">
    <title>Title</title>
</head>
<body>
<main>
    <div class="register-form-container">
        <h1>РЕГИСТРАЦИЯ</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.email.label }}
            {{ form.email }}
            {{ form.email.errors }}
            {{ form.first_name.label }}
            {{ form.first_name }}
            {{ form.first_name.errors }}
            {{ form.last_name.label }}
            {{ form.last_name }}
            {{ form.last_name.errors }}
            {{ form.password1.label }}
            {{ form.password1 }}
            {{ form.password1.errors }}
            {{ form.password2.label }}
            {{ form.password2 }}
            {{ form.password2.errors }}
            <input type="submit" value="Регистрация" class = 'register-btn'>
        </form>
        <a href="{% url 'login' %}">Вече имаш акаунт?</a>
    </div>
</main>
</body>
</html>