@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i|PT+Serif:400,400i,700,700i&amp;display=swap);

body{
    font-family: "PT Sans";
}

.register-form-container{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 100px auto;
    border: 1px solid rgb(209, 204, 204);
    padding: 50px;
    border-radius: 10px;
}

.register-form-container h1{
    align-self: center;
}

.register-form-container form{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

.register-form-container form label{
    font-size: 18px;
}

.register-form-container form input{
    margin-bottom: 20px;
    padding: 10px 5px;
    outline: none;
    border-radius: 5px;
    border: 1px solid black;
}

.register-btn{
    font-size: 20px;
    border: none !important;
    cursor: pointer;
    padding: 20px 5px !important;
    background-color: #bc6a2f;
    color: white;
}